[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
createcoverage = 1.5
# Fix finalizeSchemas TypeError with Provides objects
# caused by plone.dexterity 2.11.0 memory leak fix.
# See: https://github.com/plone/plone.supermodel/pull/55
plone.supermodel = 1.7.0
